<h1>MyPages#about</h1>
<p> To find more information on using this app use railstutorial, railsguides, agile web development test, and w3schools.</p>
<p>Find me in app/views/my_pages/about.html.erb</p>
